<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
</head>
<body>
    <p> Prediction page boii</p>

    <form action="result">
        <table>
            <tr>
                <td align="right">Pregnancies</td>
                <td align="left"><input type="text" name="n1"></td>
            </tr>

            <tr>
                <td align="right">Glucose Level</td>
                <td align="left"><input type="text" name="n2"></td>
            </tr>

            <tr>
                <td align="right">BP</td>
                <td align="left"><input type="text" name="n3"></td>
            </tr>

            <tr>
                <td align="right">Skin Thickness</td>
                <td align="left"><input type="text" name="n4"></td>
            </tr>

            <tr>
                <td align="right">Insulin</td>
                <td align="left"><input type="text" name="n5"></td>
            </tr>

            <tr>
                <td align="right">BMI</td>
                <td align="left"><input type="text" name="n6"></td>
            </tr>

            <tr>
                <td align="right">Diabetes Pedigree Function</td>
                <td align="left"><input type="text" name="n7"></td>
            </tr>

            <tr>
                <td align="right">Age</td>
                <td align="left"><input type="text" name="n8"></td>
            </tr>
        </table>
        <input type="submit">
    </form>
</body>

    Result: {{result_prediction}}

</html>